# DeepSeek API 配置
DEEPSEEK_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DEEPSEEK_API_URL=https://api.deepseek.com/chat/completions

# 服务端口（默认3000）
PORT=3000

# GPT-SoVITS 参考音频目录（可以使用绝对路径，如果不填则默认使用当前目录下的 audio 文件夹）
# AUDIO_DIR=D:/AI/惠惠模型/惠惠/音频